{% extends 'base_requirements.html' %}

{% block title %}{{ object }}{% endblock title %}

{% comment %}{% block req_history %}
    <!-- <div id="links">
        <a href="/requirements/rank/{{ rank.id }}">{{ object }}</a>
    </div> -->
{% endblock req_history %}{% endcomment %}

{% block req_header %}
    <h1>{{ object.degree }} {{ object }}</h1>
    <p id="eligibility">
        {% for eligibility in object.eligibility %}
        {% endfor %}
    </p>
{% endblock req_header %}

<br><br>

{% block req_content %}
    {% comment %}
        The following for-loops should list each category in a Rank,
        and then each requirement under that specific rank's category.
    {% endcomment %}

    {% for category in category.objects.all %}
        <br><a href="requirements/rank/all/category/{{ category.id }}"><b>{{ category.name }}:</b></a>
    {% endfor %}

    {% for requirement in object.requirements %}
        {{ requirement.category }}:
        <br><a href="/requirements/rank/{{ rank.id }}/category/{{ category.id }}/requirement/{{ requirement.id }}">
                {{ requirement.name }}
            </a>
    {% endfor %}
    <br>
{% endblock req_content %}