{% extends 'base_requirements.html' %}

{% block title %}{{ object }}{% endblock title %}

{% comment %}{% block req_history %}
    <!-- <div id="links">
        <a href="/requirements/rank/{{ rank.id }}">{{ object }}</a>
    </div> -->
{% endblock req_history %}{% endcomment %}

{% block req_header %}
    <h1>{{ object.degree }} {{ object }}</h1>
    <p id="eligibility">
        {% for eligibility in object.eligibility %}
        {% endfor %}
    </p>
{% endblock req_header %}

<br><br>

{% block req_content %}
    {% for requirement in object.requirements %}
        {% if requirement.position == 1 %}
            <br><a{# href="requirements/rank/all/category/{{ requirement.category }}"#}>
                    <b>{{ requirement.category }}:</b>
                </a>
        {% endif %}
        <br><a href="/requirements/rank/{{ rank.id }}/category/{{ category.id }}/requirement/{{ requirement.id }}">
                {{ requirement.name }}
            </a>
    {% endfor %}
    <br>
{% endblock req_content %}