{% extends 'base_requirements.html' %}

{% block title %}Curriculum - {% endblock title %}

{% block og_title %}Curriculum - {% endblock og_title %}
{% block description %}The current Tang Soo Do curriculum as taught by Central Maryland Martial Arts{% endblock description %}
{% block og_url %}{% url 'syllabi:rank_list_view' %}{% endblock og_url %}
{% block twitter_card %}The current Tang Soo Do curriculum as taught by Central Maryland Martial Arts{% endblock twitter_card %}

{% block req_header %}<h1>Curriculum</h1>{% endblock req_header %}

{% block req_content %}
    {% for object in object_list %}
        <p id="ranks"><a href="{{ object.get_absolute_url }}">{{ object }}</a><br><br></p>
    {% endfor %}
{% endblock req_content %}