{% extends 'base_requirements.html' %}
{% load custom_template_tags %}

{% block req_header %}
    <h1>{{ object.degree }} {{ object }}</h1>
    <p id="eligibility">
        {% for eligibility in object.eligibility %}
        {% endfor %}
    </p>
{% endblock req_header %}

<br><br>

{% block req_content %}
    <br>
    {% for requirement in object.requirements %}
        {% if requirement.category != action %}
            <br><br>
            <b><a href="{{ requirement.category.get_absolute_url }}">
                    {{ requirement.category }}:
            </a></b>
        {% endif %}
        <br><a href="/syllabi/{{ rank.slug }}/{{ requirement.category.slug }}/{{ requirement.slug }}">
            {{ requirement.name }}
        </a>
        {% setvar requirement.category as action %}
    {% endfor %}
{% endblock req_content %}