{% extends 'base_requirements.html' %}
{% load static %}

{% block og_url %}syllabi/{{ object.rank.slug }}/{{ object.category.slug }}/{{ object.slug }}{% endblock og_url %}

{% block req_header %}
    <h1>{{ object }}</h1>
    {{ object.desc }}
{% endblock req_header %}

{% block req_content %}
    {% for media in requirement.media %}
        {% if ".mp4" in media.file_name %}
            <video controls src="{% static media.file_name %}" width="600" height="400"></video><br>
        {% endif %}
        {% if ".jpg" in media.file_name %}
            <img src="{% static media.file_name %}" alt="{{ media.requirement }} {{ media.file_name }}" width="600" height="400"><br>
        {% endif %}
    {% endfor %}
{% endblock req_content %}